*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}


img{
  max-width: 100%;
 

}


p {line-height: 30px;}

.debug{background: palegreen;}


.p-relative{position: relative;}

.container{
  max-width:100% ;
  margin: 0 32px;


}


.container-bottom{
  width: 465px;
  margin: auto;
}

.align-center{text-align: center;}

.flexing{display: flex;}


.al-items{align-items: center;}


.column{flex-direction: column;}

.row{
  display: flex;
  flex-direction: column;
}

.col{
  
  background-color: #b5ddff;
  margin-bottom: 24px;
  border-radius: 40px;
}

.card{

  background-color: #9792e4;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 48px 16px;
  border-radius: 40px ;
  color: white;

}


.card p:first-child{margin-bottom: 40px;}

.btn-white{

  text-align: center;
  background-color: white;
  
}


.btn-white.first{
  
  width:120px;
  height: 38px;
  line-height: 38px;
  color: black;
  border-radius: 40px;


}


.btn-white.second{
  
  width:290px;
  height: 80px;

  line-height: 80px;
  color: #9792e4;
  display: inline-block;
  border-radius: 40px;
  margin-top: 40px;
  margin-bottom: 35px;


}


.btn-violet{
  background-color: #9792e4;
  color: white;
  text-align: center;
  display: block;
  border-radius: 40px;
}


.btn-violet.first{
  
  width: 144px; 
  height: 40px;
  line-height: 40px; 
  margin-top: 32px ;

}

.btn-violet.second{
  
  width: 194px; 
  height: 34px;
  line-height: 34px; 

}


.btn-blue{
  color: white;
  background-color: #0084fd;
  width: 212px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  display: block;
  border-radius: 40px;
  margin-bottom: 40px;



}


.btn-circle{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #9792e4;
  color: black;
  margin-top: 35px;
  margin-bottom: 30px;
  
  padding-top: 12px;
  font-size: 1.5rem;
  display: inline-block;
}






header {
  display: flex;
  align-items: center;
  height: 75px;
  width: 100%;
  padding: 0 32px;
 
  background-color: #0084fd;
  position: fixed;
  z-index: 99;
  color: white;
  

}


header i {font-size: xx-large;}

header .container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}


header ul{
  
  display: none;
  align-items: center;
  
  list-style: none;

}


header ul li{margin-right: 33px;}

header a{
  color: white;
  
}

.first-section{
  padding-top: 125px;
  padding-bottom: 56px;
  

}

.first-section i{
  font-size: 6rem;
  color: #0084fd;
  margin-bottom: 30px;


}


.first-section i.first{
 color: white;
 font-size: 1rem;

}



.first-section h3{

  font-size: 1.5rem;
  color: #0084fd;
  margin-bottom: 40px;
}


.first-section img{
  height: 271px;
  
  display: block;

}

.first-section p{
  margin-bottom: 40px;
  
}


.first-section .col {padding: 39px 33px 0 33px;}



.second-section h3 {
  color: white;
 


}

.second-section{
  background-color: #9792e4;
  padding-top: 70px;
  padding-bottom: 25px;
 
}

.second-section div.row{
  
  margin: 0 32px 40px 32px;


}

.second-section h3 {
  font-size: 2rem;
  margin-top: 95px;
  margin-bottom: 60px;


}


.second-section .row:last-child{
  justify-content: flex-end;
  
}


.second-section .row:last-child div{

  background-color: white;
  border-radius: 40px;
  
 

}

.second-section .row:last-child h3{
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: black;
  
}



.cards-section{

  padding-top: 70px;
  padding-bottom: 80px;
}


.cards-section h3{
  
  color:#9792e4;
  margin-top: 40px;
  margin-bottom: 45px;
  font-size: 2rem;



}


.cards-section p.p2 {margin-bottom: 55px;}



.cards-section .sub-card{

 width: 100%;
}

.img-box{

  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  



}

.fourth-section{
  padding-top: 75px;
  padding-bottom: 33px;
  background-color: #9792e4;
  
}

.fourth-section .col{
  
  margin-bottom: 32px;
  background-color: white;
  padding: 55px 45px 32px 32px;
  border-radius: 25px;
  

}



.fourth-section h3{
  color: white;
  margin-bottom: 75px;
  text-align: center;
  font-size: 2rem;
}


.fourth-section h3.second {

  color: #9792e4;
  text-align: left;
  margin: 34px 0;
  font-size: 1.5rem;

}

.fourth-section p:first-child{
  font-size: 4rem;
  color: #9792e4;


}

.fifth-section{

  padding-top: 95px;
  padding-bottom: 80px;

}


.fifth-section h2 {
  
  
  color: #9792e4;
  font-size: 2.5rem;
  margin-bottom: 58px;

}


.fifth-section p.p1{margin-bottom:70px ;}


.fifth-section h3{
  
  margin: 30px auto;
  color: #9792e4;
  font-size: 2rem;
  

}

.fifth-section .row{
  
  margin-bottom: 58px;


}


.fifth-section .position-i{
  
  
  position: absolute;
  top: 0;
  left: 65%;
  color: #9792e4;
  font-size: 3rem;



}



.sixth-section{
  padding: 70px 0;
  background-color: #9792e4;
  color: white;
}


.sixth-section p:first-child{
  opacity: 0.5;
  margin-bottom: 35px;

}




.sixth-section h3{
  font-size: 2rem;
  margin-bottom: 35px;

}


.sixth-section h2{
  font-size: 4rem;
  color: #fdc15f ;
  margin-bottom: 48px;


}


.sixth-section i {
  font-size: 0.3rem;
  display: inline-block;
  margin-bottom: 10px;

}


.sixth-section a:last-child{
  color: white;
  text-decoration: underline;

}

footer{
  
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #333;
  color: white;
  
}

 

footer a{
  color: #9792e4;
  text-decoration: underline;

}



footer p:first-child{margin-bottom: 70px;}


/*media queries*/


@media screen and (min-width:768px){

  .container , header .container{
    
    width: 720px;
    margin: 0 auto;

  }


  .first-section .row,.fourth-section .row,.fifth-section  .container{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  
  .first-section .col:first-child{
   
    width: 65.5%;
  }
  
  
  
  .first-section .col{
    
    width: 31%;
  }

  
  .cards-section .card {
    flex-direction: row;
    padding-right: 60px;
    
  
  }
  
  .cards-section .card .sub-card.sinistra {

    width: 33%;
    margin-right: 33px;
  }
  .cards-section .card .sub-card.destra {

    width: 67%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  
  .fifth-section .container{display: flex;}

  
  .fifth-section .row{padding: 0 32px}

  .fourth-section .col , .fifth-section .row{width: 48%;}

  
}


@media screen and (min-width:1200px) {


  header div > a {display: none;}

  header ul{display: flex;}

  
  
  .container , header .container{
    
    width: 1140px;
    margin: 0 auto;

  }


  
  .first-section .col:first-child {display: flex;}

  
  .first-section .col:first-child div:first-child{width:60%;}

  
  .first-section .col:first-child div:last-child{

    display: flex;
    align-items: flex-end;

    
  }


  .second-section{
    display: flex;
    justify-content: center;
  
  }

  
  
  .second-section .row{width: 30%;}

  
  .second-section .row:last-child{
    width: 25%;
    margin-top: 0;
    
    
    
  }  

  
  .second-section .row:last-child img{width: 80%;}

  .cards-section .card .sub-card.sinistra {

    width: 20%;
    margin-right: 60px;
  }
  .cards-section .card .sub-card.destra {

    width: 80%;
  }

  .fourth-section .col{width: 32%;}

  
  .fifth-section .row:first-child{width: 65%;}

  
  .fifth-section .row:last-child{width:35%}

}
